/* Este arquivo css está 
externo a qualquer página HTML*/ 

p {
    color: blue;
    font-family: Verdana;
    font-size: 5pt;
}

#topzera{
    color: green;
}

.sm{
    font-family: arial-black;
}

.fundoLoki{
    background-color: #CDDC39;
    border: 4px dashed red;
    border-top-style: solid;
    border-top-color: blue;
    /* box-shadow: 5px 10px; */
}